name: Build
on:
  push:
    branches:
      - "*"
  pull_request:
jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - 1.53.0
          - stable
          - beta
          - nightly 
        target:
          - x86_64-unknown-linux-gnu
          - x86_64-unknown-linux-musl
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.version }}
          override: true
          components: rustfmt, llvm-tools-preview
      - name: build
        run: |
          cargo check --no-default-features
          cargo check --all-features
      - name: test
        run: |
          cargo install cargo-binutils
          cargo test 
      - name: check formatting
        run: cargo fmt -- --check
      - name: code-coverage
        run: |
          cargo install  --version 0.19.1 cargo-tarpaulin
          cargo tarpaulin --force-clean --exclude-files tests/data/* --follow-exec --coveralls ${{ secrets.CODECOV_TOKEN }}
        if: matrix.target == 'x86_64-unknown-linux-gnu' && matrix.version == 'stable'
  windows:
    runs-on: windows-latest
    strategy:
      matrix:
        version:
          - stable 
        target:
          - x86_64-pc-windows-gnu
          - x86_64-pc-windows-msvc
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.version }}
          override: true
          components: llvm-tools-preview
        run: |
          cargo check --no-default-features
          cargo check --all-features
      - name: test
        run: |
          cargo install cargo-binutils
          cargo test 
  mac:
    runs-on: macos-latest
    strategy:
      matrix:
        version:
          - stable 
        target:
          - x86_64-apple-darwin	
      fail-fast: false
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.version }}
          override: true
          components: llvm-tools-preview
        run: |
          cargo check --no-default-features
          cargo check --all-features
      - name: test
        run: |
          cargo install cargo-binutils
          cargo test 
