name: Coverage
on:
  push:
    branches:
      - "*"
jobs:
  linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version:
          - stable
        target:
          - x86_64-unknown-linux-gnu
    steps:
      - uses: actions/checkout@v2
      - uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.version }}
          override: true
          components: rustfmt, llvm-tools-preview
      - name: code-coverage
        run: |
          cargo install  --version 0.19.1 cargo-tarpaulin
          cargo tarpaulin --force-clean --exclude-files tests/data/* --follow-exec --coveralls ${{ secrets.CODECOV_TOKEN }}
